<p>
  <strong>Name:</strong>
  <%= @familiar.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @familiar.description %>
</p>
<p>
  <strong>Image:</strong>
  <%= image_tag @familiar.image.url%>
</p>

<%= link_to 'Back', controller: 'familiars' %>
